language: node_js
node_js:
  - '4.0.0'
before_install:
  - npm install -g webpack
install:
  - npm install
  - npm run build-dev
  - npm run build
script:
  - npm run build-test
  - npm run coverage
after_success: 'npm run coveralls'
cache:
  directories:
    - node_modules